* {
  margin: 0;
  padding: 0;
  /*   box-sizing: border-box; */
}
body {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url(./bg.gif);
  background-position: center;
  background-size: cover;
}

.heading {
  font-size: 30px;
  width: 1000px;
  margin-bottom: 140px;
  text-align: center;
  color: white;
}

#game {
  width: 500px;
  height: 200px;
  border: 1px solid black;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
}

#character {
  width: 20px;
  height: 50px;
  background-color: blue;
  position: relative;
  top: 150px;
  border-radius: 2px;
}

.animate {
  animation: jump 0.5s infinite;
}

@keyframes jump {
  0% {
    top: 150px;
  }
  30% {
    top: 100px;
  }
  70% {
    top: 100px;
  }
  100% {
    top: 150px;
  }
}

#block {
  width: 20px;
  height: 20px;
  background-color: red;
  position: relative;
  top: 130px;
  left: 480px;
  animation: block 1s infinite linear;
  border-radius: 50%;
}

@keyframes block {
  0% {
    left: 480px;
  }
  100% {
    left: -10px;
  }
}
